


/* Trip-list */

.allTrips {
    margin: auto;
    max-width: 1450px;
}

.tripListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}

.directionButtons {
    display: flex;
    justify-content: center;
}

.footer {
    height: 100px;
    padding-top: 60px;
}

.loadProgress {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Trip-page */

.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HolyGrail-left {
    order: -1;
}

@media (min-width: 100px) {
    .HolyGrail-body {
        flex-direction: row;
        flex: 1;
    }
    .HolyGrail-content {
        flex: 1;
        justify-content: center;
        max-width: 900px;
    }
    .HolyGrail-left, .HolyGrail-right {
        /* 15em is the width of the columns */
        flex: 0 0 15em;
    }
}

.tripStatusLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tripStatus {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.statusType {
    padding-left: 8px;
    font-size: 18px;
}

.statusButton {
    display: flex;
    justify-content: flex-end;
}

.tripLikeIcon {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
}

.tripEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tripEditIcon {
    display: flex;
    justify-content: flex-end;
}

.buttonTripDialog {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tripDescription {
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
}



/* Create trip */

.createTrip {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.createTripNavigation {
    min-width: 15em;
}

.newTrip {
    display: flex;
    flex-direction: row;
}

.newTripContent {
    order: 1;
    min-width: 600px;
}

.newTripMap {
    order: 1;
    justify-content: space-between;
}
