.helpPaper{
    display:flex;
    width:90%;
    margin:auto;
    height:auto;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
}

.helpTitlePaper{
    width: 250px;
    height:auto;
    float:left;
    text-align:center;
}
.helpText{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
    margin:5%;
}

.helpTextInput{
  width:250px;
  margin:5% 0 0 5%;
}

.helpMessageContainer{
  width: 40%;
}