# .coveragerc to control coverage.py

[run]

source =
    registration
    trip
    checkpoint
    comment
    photo
    tests

omit =
    *migrations*
    *apps.py*
    *urls.py*
    *__init__.py*
    *backends.py*
