.paperPageOne{
    width:90%;
    height:auto;
    margin:auto;

}
.imgPaperOne{
    width:100%;
    height:auto;
}

@media all and (min-width: 480px) and (max-width: 768px) {

  .enhancedText{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
    margin:5%;
    text-align:center;

}

}

@media all and (max-width: 480px) {
  .enhancedText {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 14px;
    margin: 5%;
    text-align: center;
  }
}