@orange500: #ff9800;
@green600:#43a047;
@yellow500: #ffeb3b;
@tealA400: #1de9b6;
@blue500: #2196f3;

.paperPageOne{
    display:block;
    margin:auto;

}
.imgPaperOne{
    display:block;
    margin:auto;
    width:100%;
}

.placePageOne{
   position:absolute;
   bottom:30%;
   left:43.5%;
}

.paperOneTripPageOne {
    position: absolute;
    background-color: @orange500;
    width: 200px;
    height: 50px;
    bottom: 27%;
    left: 27%;
    visibility: hidden;
}

.paperOneTripText{
    font-size:30px;
    text-align:center;
}

.placeOneAddPageOne{
   position:absolute;

   bottom:37.8%;
   left:38.5%;
}

.paperTwoTripPageOne{
    position:absolute;
    background-color:@green600;
    width:230px;
    height:50px;
    bottom:46%;
    left:22%;
    visibility: hidden;
}

.paperTwoTripText{
  font-size:30px;
  text-align:center;
}

.placeTwoAddPageOne{
       position:absolute;
       bottom:42.5%;
       right:43.8%;
}

.paperThreeTripPageOne{
    position:absolute;
    width:230px;
    height:50px;
    top:30%;
    right:19%;
    visibility: hidden;
}

.paperThreeTripText{
      font-size:30px;
      text-align:center;
}
.placeThreeAddPageOne{
   position:absolute;
   width: 60px;
   height: 60px;
   bottom:55%;
   right:35%;
}

.paperFourTripPageOne{
    position:absolute;
    width:230px;
    height:50px;
    top:30%;
    right:19%;
}

.paperFourTripText{
    font-size:30px;
    text-align:center;
}

.placeEndTripPageOne{
       position:absolute;
       width: 60px;
       height: 60px;
       top:9%;
       right:45%;
}

.paperFiveTripPageOne{
    position:absolute;
    width:230px;
    height:50px;
    top:20%;
    right:38%;
}

.paperFiveTripText{
    font-size:30px;
    text-align:center;
}