.trip-test-page{
	display: flex;
	flex-direction: column;
	 align-items: center;
}

.glyphicon {
    font-size: 18px;
    margin-left: 10px;
}

.glyphicon:hover{
	color: red;
	cursor: pointer;
	cursor: hand;
}

.checkpoint{
	margin-top: 10px;
}

.checkpoint:hover{
	background: #888585;
}
