


.glyphicon {
    font-size: 18px;
    margin-left: 10px;
}

.glyphicon:hover{
	color: red;
	cursor: pointer;
	cursor: hand;
}

.checkpoint{
	margin-top: 10px;
}

.checkpoint:hover{
	background: #888585;
}

.checkpointDescription {
    display: flex;
    justify-content: flex-start;
    max-width: 900px;
}

.checkpointItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.marker{
    color: blue;
}

.checkpointCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 900px;
}

.checkpointDetails {
    width: 75%;
}

.checkpointTextDetails {
    margin-left: 10px;
}

.checkpointButtons {
    display: flex;
    align-items: center;
}

.button {
    margin: 8px;
}

.gridList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}